.About-Me-Div{
  margin-top: 140px;
  width: 100%;
  text-align: center;
}
.AboutMe-Title{
  color: rgb(236, 137, 90);
  font-weight: 500;
  font-size: 45px;
}
.tracking-in-contract {
	animation: tracking-in-contract 1.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.P-div{
  margin-top: 40px;
  text-align: center;
  border-radius: 20px;
  border: 1px;
  border-style: ridge;
  align-self: center;
  margin-left: 20%;
  margin-right: 20%;
  opacity: .5;
}
.P-div:hover{
  opacity: 1;
  color: rgb(46, 46, 46);
}
.AboutME-Para{
  width: 70%;
  margin-left: 15%;
  font-size: 24px;
  text-decoration: dotted;
  font-weight: 500;
  color: rgb(32, 34, 23);
}