.About-Me-Div{
  margin-top: 140px;
  width: 100%;
  text-align: center;
}
.AboutMe-Title{
  color: rgb(236, 137, 90);
  font-weight: 500;
  font-size: 45px;
}
.tracking-in-contract {
	animation: tracking-in-contract 1.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.P-div{
  margin-top: 80px;
  text-align: center;
}
.AboutME-Para{
  width: 70%;
  margin-left: 15%;
}