.Intro-main-Div{
  background-color: rgba(19, 19, 19, 0.842);
  color: white;
  width: 100%;
  border-radius: 20px;
  border-bottom-style: solid;
  border-bottom-width: 10px;
  border-bottom-color: rgba(63, 62, 62, 0.151);
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: center;
  padding-bottom: 300px;
  padding-top: 100px;
  margin-bottom: 200px;
}
.profile-Pic{
  margin-top: 160px;
  width: 280px;
  height: 260px;
  border-style: solid;
  border-radius: 50%;
}

.Div2{
  margin-top: 180px;
}
.heartbeat {
	animation: heartbeat 2.0s ease-in-out infinite both;
}
.GithubLink{
  text-decoration: none;
}
.Div3{
  position: absolute;
  margin-top: -500px;
  margin-left: 10%;
  color: white;
}
.Logos{
  width: 60px;
  padding-right: 10px;
}